useDynLib(stLMM, .registration = TRUE, .fixes = "C_")
import(BayesLogit)
S3method(fitted,stLMM)
S3method(fitted,stLMM_recovery_chains)
S3method(log_lik,stLMM)
S3method(log_lik,stLMM_chains)
S3method(log_lik,stLMM_recovery)
S3method(log_lik,stLMM_recovery_chains)
S3method(as_samples,matrix)
S3method(as_samples,stLMM)
S3method(as_samples,stLMM_chains)
S3method(as_samples,stLMM_fitted_chains)
S3method(as_samples,stLMM_prediction)
S3method(as_samples,stLMM_prediction_chains)
S3method(as_samples,stLMM_recovery)
S3method(as_samples,stLMM_recovery_chains)
S3method(plot,stLMM)
S3method(plot,stLMM_chains)
S3method(plot,stLMM_car_graph)
S3method(plot,stLMM_graph)
S3method(plot,stLMM_prediction)
S3method(plot,stLMM_prediction_chains)
S3method(plot,stLMM_recovery)
S3method(plot,stLMM_recovery_chains)
S3method(predict,stLMM)
S3method(predict,stLMM_chains)
S3method(predict,stLMM_recovery)
S3method(predict,stLMM_recovery_chains)
S3method(print,stLMM)
S3method(print,stLMM_chains)
S3method(print,stLMM_prediction)
S3method(print,stLMM_prediction_chains)
S3method(print,stLMM_recovery)
S3method(print,stLMM_recovery_chains)
S3method(print,summary_stLMM)
S3method(print,summary_stLMM_chains)
S3method(print,summary_stLMM_prediction)
S3method(print,summary_stLMM_prediction_chains)
S3method(print,summary_stLMM_recovery)
S3method(print,summary_stLMM_recovery_chains)
S3method(recover,stLMM)
S3method(recover,stLMM_chains)
S3method(summary,stLMM)
S3method(summary,stLMM_chains)
S3method(summary,stLMM_prediction)
S3method(summary,stLMM_prediction_chains)
S3method(summary,stLMM_recovery)
S3method(summary,stLMM_recovery_chains)
S3method(waic,default)
S3method(waic,stLMM)
S3method(waic,stLMM_chains)
S3method(waic,stLMM_recovery)
S3method(waic,stLMM_recovery_chains)
importFrom(stats, fitted, model.frame, model.matrix, model.offset, model.response, na.fail, predict, setNames)
importFrom(stats, terms, update)
importFrom(utils, modifyList)
export(as_mcmc)
export(as_samples)
export(log_lik)
export(stLMM)
export(waic)
export(recover)
export(resid)
export(car_graph)
export(get_cor_models)
export(flat)
export(normal)
export(ig)
export(uniform)
export(log_normal)
export(gamma_dist)
export(half_normal)
export(half_t)
export(beta_dist)
export(fixed)
